@{
    Layout = null;
}
@model DaxiTaxi.Models.Ride
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.3.0/dist/esri-leaflet.js"
            integrity="sha512-1tScwpjXwwnm6tTva0l0/ZgM3rYNbdyMj5q6RSQMbNX6EUMhYDE3pMRGZaT41zHEvLoWEK7qFEJmZDOoDMU7/Q=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css">
    <script src="https://unpkg.com/esri-leaflet-geocoder"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bookride.css">
    <title>Form Ride</title>
    <style>
        #map {
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
        }
    </style>

</head>
<body>

    <div id="myModal" class="modal">
        <div class="modal-dialog" style="width:1000px !important;margin-top: 10px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" style="height: 500px;">
                    <div id="map"></div>
                    <div class="modal-body" id="map-canvas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" id="choose">Choose Location</button>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-form">
        <h4 style=" margin: 0;padding: 0 0 30px;color:red;text-align: center;text-transform: uppercase;">Book A Ride</h4>
        <table class="table table-borderless" id="purchasedTicketsTable" style="color: white;">
            <tr>
                <th style="border:0;color:red;padding-top:20px;padding-left:50px;">ADMIN</th>
                <td style="border:0;">@Html.EditorFor(model => model.Dispatcher.Surname, new { htmlAttributes = new { id = "admin", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;height:35px;color:white;width:300px;color:red;" } })</td>
            </tr>

            <tr>
                <th style="border:0;color:red;padding-top:20px;padding-left:50px;">DATE</th>
                <td style="border:0;"> @Html.EditorFor(model => model.OrderDateTime, new { htmlAttributes = new { id = "date", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;height:35px;width:300px;background-color:transparent;color:red;" } })</td>
            </tr>
            <tr>
                <th style="border:0;color:red;padding-top:20px;padding-left:50px;">DRIVERS</th>
                <td style="border:0;"><select class="form-control" id="driverDropdown" name="driverDropdown" style="width:300px;float:left;"></select></td>
            </tr>
            <tr>
                <th style="border:0;color:red;padding-top:20px;padding-left:50px;">TAXI LOCATION</th>
                <td style="border:0;"> @Html.EditorFor(model => model.CustomerLocation.Address.City, new { htmlAttributes = new { id = "location", @class = "form-control", style = "border:0;outline:0;border-bottom:1px solid red;margin-bottom:10xp;width:300px;height:35px;color:red;" } })</td>
            </tr>
            <tr>
                <th style="border:0;"></th>
                <td style="border:0;"><a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal" style="width:100px;border-radius:20px;color:red;background-color:transparent;border:none;margin-top:30px;">Open Map</a></td>
            </tr>
            <tr>
                <th style="border:0;"></th>
                <td style="border:0;"><input type="submit" id="btnCancelRide" value="Cancel" class="btn btn-default" style="width:200px;border-radius:20px;color:white;background-color:red;border:none;margin-top:60px;margin-left:-130px;height:35px;" /></td>
                <td style="border:0"> <input type="submit" id="btnBookRide" value="Book" class="btn btn-default" style="width:200px;border-radius:20px;color:white;background-color:red;border:none;margin-top:60px;margin-left:-190px;height:35px;" /></td>
            </tr>
            

        </table>
        
    </div>

    <script>
        var driverId;
        $(document).ready(function () {

            var lat;
            var lon;
            var street;
            var streetNum;
            var callNum;
            var city; 
               
            var today = new Date();
            $("#date").val(today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate() + " " + today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds());


            $('#driverDropdown').click(function (event) {
                var driversId = $(event.target).val()
                if (driversId != null) {
                    driverId = driversId
                }
            })



              $.ajax({  
                    type: "GET",  
                    url: "https://localhost:44345/api/rideapi/available",  
                    data: "{}",  
                    success: function (data) {
                        console.log(data)
                        var s; 
                        for (var i = 0; i < data.length; i++) {  
                            s += '<option value="' + data[i].Id + '">' + data[i].Username + '</option>';  
                        }  
                        $("#driverDropdown").html(s);  

                                    
                    }  
              });  


            $.ajax({
                type: "GET",
                url: "https://localhost:44345/api/userapi/loggedUser",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#admin").val(response.Username);
                },
                failure: function (response) {
                    console.log("Failure");
                },
                error: function (response) {
                    alert("Error")
                    window.location.href = "~/Home/Main"
                    console.log("Error: " + " , Please try again");
                }

            })

            $('#myModal').on('show.bs.modal', function () {

                setTimeout(function () {
                    map.invalidateSize();
                }, 10);



                var map = L.map('map').setView([45.267, 19.833], 12)

                L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=Ke6IXcQlrAX601uWVfEg', {
                    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>'
                }).addTo(map);


                var search = L.esri.Geocoding.geosearch().addTo(map);

                var results = L.layerGroup().addTo(map);


                search.on('results', function (data) {
                    results.clearLayers();

                        
                    for (var i = data.results.length - 1; i >= 0; i--) {
                        //Extracting values from location object
                        lat = data.results[i].latlng.lat
                        lon = data.results[i].latlng.lng
                        var text = data.results[i].text.split(",")
                        var cstreet = text[0]
                        streetNum = cstreet.replace(/[^0-9]/g, '');
                        street = cstreet.replace(streetNum, '')
                        city = text[2]
                        callNum = text[1]

                        results.addLayer(L.marker(data.results[i].latlng))
                        break;
 
                    }

                    $("#choose").on("click", function () {

                        $("#location").val(street + " " + streetNum + " " + callNum + " " + city)

                                $("#btnBookRide").on("click", function () {

                                    console.log("ddd " + driverId)

                                    var data = {

                                        "CustomerLocation":
                                        {
                                            "XCoordinate": lat, "YCoordinate": lon, "Address":
                                                {
                                                    "Street": street, "StreetNumber": streetNum,
                                                    "City": city, "CallNumber": callNum
                                                }
                                        },
                                        "Driver": { "Id": driverId }
                                    }

                                $.ajax({
                                    type: "POST",
                                    url: "https://localhost:44345/api/bookarideapi/formride",
                                    data: JSON.stringify(data),
                                    contentType: "application/json; charset=utf-8",
                                    success: function (response) {
                                        alert('Success')
                                        // window.location.href = '~/User/Login'
                                    },
                                    failure: function (response) {
                                        console.log("Failure");
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        alert("Error: " + errorThrown + " , Please try again");
                                    }

                                })
                         })

                    })
                       

                })

            });

          });
    </script>
</body>
</html>